
.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
	
	.centerBlock {
  display: table;
  margin: 0 auto;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.wrapper {
    text-align: center;
	margin: auto 0;
}

.centerBtn {
    position: absolute;
    top: 50%;
}